* {
	margin: 0px;
	padding: 0px;
}

#annulusTitle {
	font-size: 30px;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 40%;
}

.arc path {
  stroke: #fff;
}

body {
	border-radius: 5px;
	font-family: 'Duru Sans', Arial, sans-serif;
	height: 400px;
	position: relative;
	width: 800px;
}

#content {
	background: #f7fff9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7fff9 1%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f7fff9), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7fff9 1%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7fff9 1%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7fff9 1%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7fff9 1%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fff9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border-top:2px solid #7ca570;
	border-right:2px solid #7ca570;
	border-left:2px solid #7ca570;
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	height: 330px;
	left: 2%;
	position: absolute;
	top: 65px;
	width: 96%;
}

#cpuContainer {
	float: left;
	position: absolute;
	margin: 2%;
	width: 305px;
	height: 305px;
}

#cpuContainer>svg{
    -webkit-filter: drop-shadow( 0px 3px 3px #7EBA8C );
            filter: drop-shadow( 0px 3px 3px #7EBA8C ); /* Same syntax as box-shadow */
}

#cpuContainer>text {
	-webkit-filter: none;
	filter: none;
}

#filters {
	display: none;
	position: absolute;
	left: 315px;
	text-align: center;
	top: 100px;
}

#filterSelect {
	background-color: #f7fff9;
}

#lettuceWrap {
	background: #eeeeee;
	height: 100%;
	position: relative;
	width: 100%;
}

#loading {
	position: absolute;
	text-align: center;
	top: 100px;
	width: 100%;
}

#loading p {
	text-align: center;
}

#memContainer {
	float:right;
	margin: 2%;
	width: 305px;
	height: 305px;
}

#memContainer>svg {
    -webkit-filter: drop-shadow( 0px 5px 5px #7EBA8C );
            filter: drop-shadow( 0px 5px 5px #7EBA8C ); /* Same syntax as box-shadow */
}

#nameDiv {
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

#procMenu {
	background-color: rgba(50,50,50,0.95);
	border-radius: 5px;
	color: white;
	height: 100px;
	position: absolute;
	width: 200px;
}
#procMenu button {
	background: #c6d187; /* Old browsers */
	background: -moz-linear-gradient(top,  #c6d187 0%, #99b752 50%, #8aa84a 52%, #acc962 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6d187), color-stop(50%,#99b752), color-stop(52%,#8aa84a), color-stop(100%,#acc962)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c6d187 0%,#99b752 50%,#8aa84a 52%,#acc962 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c6d187 0%,#99b752 50%,#8aa84a 52%,#acc962 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c6d187 0%,#99b752 50%,#8aa84a 52%,#acc962 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c6d187 0%,#99b752 50%,#8aa84a 52%,#acc962 100%); /* W3C */
	border: 1px solid #000;
	border-radius:5px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6d187', endColorstr='#acc962',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	padding: 0.5em;
}
#procMenu button:hover {
	background: #bfd255; /* Old browsers */
	background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
	border: 1px solid #000;
	border-radius:5px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	padding: 0.5em;
}
#procMenu button:active {
	background: #9ecb2d; /* Old browsers */
	background: -moz-linear-gradient(top,  #9ecb2d 0%, #72aa00 50%, #8eb92a 51%, #bfd255 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ecb2d), color-stop(50%,#72aa00), color-stop(51%,#8eb92a), color-stop(100%,#bfd255)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9ecb2d 0%,#72aa00 50%,#8eb92a 51%,#bfd255 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9ecb2d 0%,#72aa00 50%,#8eb92a 51%,#bfd255 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9ecb2d 0%,#72aa00 50%,#8eb92a 51%,#bfd255 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9ecb2d 0%,#72aa00 50%,#8eb92a 51%,#bfd255 100%); /* W3C */
	border: 1px solid #000;
	border-radius:5px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ecb2d', endColorstr='#bfd255',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	padding: 0.5em;
}

#procMenu>div {
	margin-top: 0.5em;
	margin-left: 10%;
	text-align: center;
	width: 80%;
}

#title {
	/*color: #004400;*/
	font-family: 'Actor', 'Duru Sans', Arial, sans-serif;
	font-size: 40px;
	height: 60px;
	position: absolute;
	text-align: center;
	text-shadow: 2px 2px #7ca570;
	top: 5px;
	width: 100%;
}
