* {
	margin: 0px;
	padding: 0px;
}

body {
	border-radius: 5px;
	height: 400px;
	position: relative;
	width: 800px;
}

#lettuceWrap {
	background: #eeeeee;
	height: 100%;
	position: relative;
	width: 100%;
}