* {
	margin: 0px;
	padding: 0px;
}

#annulusContainer {
	float: left;
	height: 80%;
	position: absolute;
	top: 0%;
	width: 40%;
}

#annulusTitle {
	font-size: 30px;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 40%;
}

.arc path {
  stroke: #fff;
}

body {
	border-radius: 5px;
	font-family: 'Duru Sans', Arial, sans-serif;
	height: 400px;
	position: relative;
	width: 800px;
}

#content {
	height: 330px;
	left: 2%;
	position: absolute;
	top: 65px;
	width: 96%;
}

#filters {
	position: absolute;
	top: -50px;
}

#lettuceWrap {
	background: #eeeeee;
	height: 100%;
	position: relative;
	width: 100%;
}

#loading {
	clear:both;
}

#memoryContainer {
	float:right;
}

#procMenu {
	background-color: #222222;
	border-radius: 5px;
	color: white;
	height: 100px;
	width: 200px;
}

#title {
	font-size: 40px;
	height: 50px;
	position: absolute;
	text-align: center;
	top: 5px;
	width: 100%;
}